@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Momo+Trust+Display&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.root{
    -fx-background-color: linear-gradient(
            to bottom,
            rgb(39, 9, 71) 0%,
            rgba(42, 0, 84, 1) 72%,
            rgba(0, 0, 0, 1) 100%
    );
}

#lpane{
    -fx-background-color: #170030;
    -fx-opacity: 0.65;
}

#cbt{
    -fx-background-color: #404857;
    -fx-font-size: 15px;
    -fx-font-family: Consolas;
    -fx-font-weight: 700;
}

#cbt:hover{
    -fx-background-color: #5d697e;
}

#loginbt{
    -fx-background-color: #393939;
    -fx-font-family: Consolas;
}

#loginbt:hover{
    -fx-background-color: #555555;
}

#dashtext{
    -fx-translate-y: 20px;
    -fx-font-size: 20px;
    -fx-font-family: "Space Grotesk", sans-serif;
}

#upload{
    -fx-font-size: 30px;
    -fx-font-family: "Momo Trust Display", sans-serif;
}

#data_label{
    -fx-font-size: 15px;
    -fx-font-family: "Garet Book";
}